:root{
    --opacity: 0.5
}

.ql-container{
    height: 300px;
    overflow-y: auto;
    border: none;
}

.ql-container.ql-snow{
    border:none;
    /* width:100% ; */
}

.ql-picker-label{
    color: black;
}

.ql-snow .ql-picker.ql-expanded .ql-picker-options{
    background-color: green;
}

.quill .ql-toolbar{
    border: none;   
    background: green;
    padding: 1rem;
}

.ql-snow .ql-editor img{
    width: 100px;
}

 .ql-formats span {
    color: white;    
}
.ql-snow .ql-stroke{
    stroke: white;
}
.ql-snow .ql-stroke:hover{
    stroke: red;

}
.quill .ql-container{
    min-height: 15rem;
    font-size: 1.2rem;
}